{% extends "navbar.html" %}
{% block content %}

    <section class="py-5 bg-white" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-3"><img class="img-fluid rounded mb-5 mb-lg-0"
                        src="https://pps.whatsapp.net/v/t61.24694-24/358498033_502093458785866_2373820440500222757_n.jpg?ccb=11-4&oh=01_AdShSpfDxip_j72PcXEswwdCA_YI1ss948oLMA_Sp3nSag&oe=651A218D&_nc_sid=000000&_nc_cat=105"
                        width="250" height="250" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Lautaro Cerrotti</h2>
                    <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis sint eligendi cupiditate possimus, aliquid necessitatibus animi nihil. Rem ratione, tempora voluptatum minima amet accusamus ad reprehenderit quaerat itaque impedit quis..</p><br>
                        <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/lautaro-cerrotti/" target="_blank" type="submit">linkedin</a>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}

