{% extends "navbar.html" %}

{% block content %}

<div class="container mt-5">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ detail.item.item }}</h5>
            <small>Creado en {{detail.item.last_item_create}} <small>Por: {{detail.item.user}}</small></small>
            <small>Última modificación: {{ detail.ultima_mod }}</small>
        </div>
        <small class="badge bg-primary rounded-pill"> Cantidad - {{ detail.cantidad }}</small> <small class="badge bg-secondary rounded-pill"> Categoria - {{ detail.categoria }}</small>
        <p class="mb-1 mt-3">Descripcion: {{ detail.descripcion }}</p>
        </a>
    </div>
</div>

{% endblock %}