{% extends "navbar.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% load crispy_forms_tags %}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <h1>Nuevos Items</h1>  
        </div>
    </div> 
</div> 

<div class="container-sm mt-5">
    <div class="row">
            <div class="col-5">
                <form method="POST">
                    {% csrf_token %}
                    {{ error }}
                    {{ form | crispy }}
                    <button class="btn btn-primary">
                        Save
                    </button>
                </form>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="row mt-4">
                    <p>Vas a poder agregar nuevos items al Inventario.</p>
                </div>
                <div class="row mt-4">
                    <p>El item que vas a generar lo podras encotrar luego en la seccion Agregar Items para que puedas especificar una cantidad o descripcion, ademas de poder cambiar tambien su categoria.</p>
                </div>
                <div class="row mt-4">
                    <p>Los datos ingresados y las modificaciones quedaran guardadas con tu nombre de usuario y con la hora que se realizo este cambio.</p>
                </div>
            </div>

    </div>
</div>
{% endblock %}