<nav>
    <ul>
        <li>
            <a href="">Home</a>
        </li>
        <li>
            <a href="meli_info/">Meli Info</a>
        </li>
        <li>
            <a href="/meli_info/project">Proyectos</a>
        </li>
        <li>
            <a href="/meli_info/task">Tareas</a>
        </li>
        <li>
            <a href="/meli_info/about">About</a>
        </li>
        <li>
            <a href="/meli_info/hello">Hello</a>
        </li>
        <li>
            <a href="{% url 'Create_project' %}">Crear Proyecto</a>
        </li>
        <li>
            <a href="{% url 'Create_task' %}">Crear Task</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}